<table class="table">
    <thead>
      <tr>
        <th>Position</th>
        <th>Username</th>
        <th>Runtime</th>
      </tr>
    </thead>
    <tbody>
    	{{#each leaders}}
        <tr>
        <td>{{@index}}</td>
        <td>{{name}}</td>
        <td>{{time}}s</td>
      	</tr> 
    	{{/each}}
    </tbody>
  </table>
  <div id="histogram"> </div>
  <script>
    drawHistogram(histogram, {{leaders}});
  </script>
