<table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Runtime</th>
      </tr>
    </thead>
    <tbody>
    	{{#each leaders}}
        <tr>
        <td>{{name}}</td>
        <td>{{time}}s</td>
      	</tr>
    	{{/each}}
    </tbody>
  </table>
