<div class="text-center">
	<h4>No submission with the key {{key}} was found!</h4>
	<h4>Please double-check the key given or resubmit your file.</h4>
	<h4>There are {{queueNumber}} submissions in the queue</h4>
</div>
