<form action="" class="text-center vertical-center">
  <div class="form-group">
  	<h3> Only .java files are accepted. </h3>
  	<label class="btn btn-warning" for="file-input">
  		<input type="file" name="submission" accept=".java" id="file-input" style="display:none;">
    	Upload file
	</label>
  </div>
  <label class="btn btn-primary">
  	<input type="submit" style="display:none;">
  	Submit
  </label
</form>
