<form action="" class="text-center" method="post" encType="multipart/form-data">
  <div class="form-group">
    <h4 style="color:red"> {{error}} </h3>
  	<h3>Instructions:</h3>
    <ul>
      <li> Upload either a single java file, or a zip file, containing <strong>all</strong> the relevant .java files</li>
      <li>(.ZIP, not .7z, .rar. .tar.gz or whatever you can think of)</li>
      <li>So if you have a custom class (e.g. HashTable.java), please include that in the zip</li>
      <li> All your classes should not belong to any package (i.e. no <code>package sg.nus.comp.cs2020</code> at the top)</li>
      <li>Make sure your program follows the submission format <strong> exactly</strong></li>
      <li>i.e. it should take in a filename as the first argument, and print <strong>only a single integer</strong> to <code>System.out</code> before exiting</li>

    </ul>
    <label for="firstname">
      <a title="君の名は。"> Your Name</a>
    </label>
    <input type="text" id="firstname" name="firstname" placeholder="Zaphod Beeblebrox" required>
    <br />
    <label for="classname">
      Class Name
    </label>
    <input type="text" id="classname" name="classname" placeholder="YourNamePS5" required>
    <br />
    (The class we should call to run your program (usually YourNamePS5).
    <br />
    <label for="submission">
      Submission File
      <input type="file" id="submission" name="file" accept=".java,.zip" required/>
    </label>
    <br />
    <label class="btn btn-primary">
    <input type="submit" style="display:none;">
    Submit
    </label>
  </div>
</form>
