<form action="" class="text-center vertical-center">
  <div class="form-group">
  	<h3> Only .java files are accepted. </h3>
    <label>
      Username
      <input type="text" name="firstname">
    </label>
    <br>
    <label>
    	<input type="file" name="submission" accept=".java" id="file-input">
    </label>
    <br>
    <label class="btn btn-primary">
    <input type="submit" style="display:none;">
    Submit
    </label>
  </div>
</form>
